

<a href="/">
    <div class="card flex-md-row mb-4 shadow-sm ">
    <img src="assets/img/TempImages/Chapter_1_Thumbnail.png"
         class="card-img-left flex-auto d-lg-block archive-image"
         alt="Chapter 1 thumbnail image" />
    <div class="card-body archive-body d-flex flex-column align-items-center">
        <h3>Chapter 1</h3>
    </div>
</div>
</a>