<a href="@($"/archives/{ArchiveModel.ArchiveChapterNumber.ConvertTitleToURL().ToLowerInvariant()}")">
    <div class="card mb-4 shadow">
        <img src="@($"{APIEndpoints.ServerBaseUrl}/{ArchiveModel.ArchiveThumbnailImagePath}")"
             class="card-img-top"
             alt="Archive thumbnail image" />
        <div class="card-body text-center archive-body">
            <h3 class="card-title cloudy-serif">@ArchiveModel.ArchiveChapterNumber</h3>
        </div>

    </div>
</a>


@code
{
    [Parameter] public ArchiveModel ArchiveModel { get; set; }
}