a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
    
}

.archive-body {
    width: 100%;
    color: black;
}

.card-title {
    padding-top: 2rem;
    padding-bottom: 2rem;

}
