a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.chapter-image {
    width: 30%;
}

.chapter-body {
    width: 85%;
    color: black;
}

.card {
    height: 100px;
    text-decoration: none;
}

@media screen and (max-width: 992px) {
    .card-img-top {
        height: 100%;
        max-height: 220px;
        width: 100%;
        object-fit: fit;
    }
    .chapter-text{
        
        object-position: center;
    }
    .chapter-body {
        width: 100%;
        color: black;
    }
    .card{
        height: auto;
    }
}