<a href="@($"/archives/{ArchiveModel.ArchiveChapterNumber.ConvertTitleToURL().ToLowerInvariant()}/{Post.Title.ConvertTitleToURL().ToLowerInvariant()}")">
    <div class="card flex-md-row mb-4 shadow">
        <img src="@($"{APIEndpoints.ServerBaseUrl}/{Post.ArchiveThumbnailImagePath}")"
             class=" flex-auto d-lg-block chapter-image card-img-top"
             alt="Chapter 1 thumbnail image" />
        <div class="card-body chapter-body d-flex flex-column align-items-center chapter-text">
            <h3>@Post.Title</h3>
        </div>
    </div>
</a>


@code
{
    [Parameter] public Post Post { get; set; }
    [Parameter] public ArchiveModel ArchiveModel { get; set; }
}