@page "/about"

<PageTitle>Crushing Bind | About</PageTitle>

<Navbar />

<main class="container min-vh-90">
    <div class="bottom-spacing">
        <h1 class="my-3 cloudy-serif text-center">About</h1>
        <div class="py-5">
            <h2 class="cloudy-serif py-3">Synopsis:</h2>
            <p class="f-size-1-5 joan">
                &emsp; Evie, a young maiden, meets a talking bat, who insists he’s a cursed human and *not* a vampire out for her neck. Reluctantly,
                she’s convinced to kiss him to break the spell; but instead, it causes them to be magically bound together and forced to be in each other’s company.
                Thus, they’re forced to go on a journey, trying to find a healer to undo this magical mess, and try not to kill each other along the way!
            </p>
        </div>

        <div class="py-5">
            <hr/>
        </div>

        <h2 class="cloudy-serif pt-5">About the creator:</h2>
        <p class="f-size-1-5 joan pt-3">
            &emsp; Nikki, otherwise known by her artist name Ursaphea, enjoys crafting fantasy stories layered in Christ-centered faith.
            She loves to draw, write, and walk her dog Pumpkin! She is currently enrolled in 3D animation and modelling.
        </p>

    </div>
</main>

<Footer />

@code {

}
