@page "/about"

<PageTitle>Crushing Bind | About</PageTitle>

<Navbar/> 

<div class="text-center bottom-spacing">
            <h1 class="my-3 cloudy-serif">About</h1>
            <p></p>

        </div>

<Footer/>

@code {

}
