@page "/characters"

<PageTitle>Crushing Bind | Characters</PageTitle>

<Navbar />


<main class="container min-vh-90 py-5">
    <div class="text-center bottom-spacing">
        <h1 class="my-3 cloudy-serif">Characters</h1>
        <p></p>
    </div>

    <div class="row">
        <img src="uploads/Characters/CharacterEvie.jpg" alt="An image of Evie" class="col-6" />
        <div class="col-6 text-center">
            <h3>Evie</h3>
            <p>Evie likes sniffing BUTTS</p>
        </div>
    </div>



    <div class="row">
        <div class="col-6 text-center">
            <h3>Reuel</h3>
            <p> him too</p>
        </div>
        <img src="uploads/Characters/CharacterReuel.jpg" alt="An image of Reuel" class="col-6" />
    </div>
</main>



<Footer />

@code {

}
