@page "/characters"

<PageTitle>Crushing Bind | Characters</PageTitle>

<Navbar />


<main class="container min-vh-90 py-5">
    <div class="text-center bottom-spacing">
        <h1 class="my-3 cloudy-serif">Characters</h1>
    </div>
    <div class="row">
        <img src="uploads/Characters/CharacterEvie.jpg" alt="An image of Evie" class="col-6" />
        <div class="col-6 py-5">
            <div class="text-center py-3 cloudy-serif name-size">EvIe</div>
            <p class="text-left f-size-1-5 px-3 joan">
                &emsp; A starry-eyed romantic who enjoys all the sweet fairy-tales that finish off with a happily ever after (certainly not the dark and grim ones, even if they so happen to be the true version)! 
                She's quite comfortable living a life out in the idyllic countryside, talking to her bees, and dreams of opening up an atelier dedicated to making plushies that'll bring a smile to anyone's face. 
                The lack of real-world experience she has, has others think of her as a little...airheaded and strange. But that doesn't change her cheerful and warm disposition in any way!
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-6 py-5">
            <div class="text-center py-3 cloudy-serif name-size">Reuel</div>
            <p class="text-left f-size-1-5 px-3 joan"> &emsp; Sardonic, hot-tempered, and a little…batty. He’s not trusting of others and finds Evie’s naivety on the world ridiculously silly. 
                Found as a cursed bat by Evie, he claims he was cursed by an evil witch who had thrown him out in the dark depths of a forest. 
                Of who he is and why he was cursed, he simply dances around the topic. 
                In spite of his realistic, borderline cynical world-view, he's more than apt to playfully tease and throw jokes around.</p>
        </div>
        <img src="uploads/Characters/CharacterReuel.jpg" alt="An image of Reuel" class="col-6" />
    </div>
</main>



<Footer />

@code {

}
