@page "/"

<PageTitle>Crushing Bind</PageTitle>



<Navbar />


<main class="container min-vh-90">
    <div class="text-center cloudy-serif">
        
        <a href="/archives" class="start-reading-btn">Start Reading!</a>
    </div>

</main>


<Footer />
