@page "/"

<PageTitle>Crushing Bind</PageTitle>



<Navbar />


<main class="container min-vh-90">
    <div class="row py-5">
        <div class="col text-center cloudy-serif">
            <h1 class="cloudy-serif welcome-text">Welcome to Crushing Bind!</h1>
        </div>
    </div>
    <div class="row pt-3">
        <a href="/archives"><img src="assets/img/Logo/CrushingBindBanner.png" /></a>
    </div>
    <div class="row py-5">
        <div class="col text-center cloudy-serif">
            <a href="/archives" class="start-reading-btn">Start Reading!</a>
        </div>
    </div>
</main>


<Footer />
